.navbar {
    position: fixed;
    align-items: center;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: #ECE5E6;
}

.navbarLink {
    color: #222023;
    text-decoration: none !important;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    background-color: #ECE5E6; /* Consolidado */
    border: none; /* Consolidado */
    height: 100%; /* Consolidado */
}

.navbarLink:hover {
    color: #a1a188;
    text-decoration: none !important;
}

.navbarLink i.bi-geo-alt {
    color: #222023 !important;
    background-color: #ECE5E6;
}

.navbarLink span {
    font-size: 1rem;
    font-weight: 400;
    color: #222023;
}

.navbar .bi {
    font-size: 1rem;
    vertical-align: middle;
    align-items: center;
    line-height: 1;
}

.scrolleableMenu {
    max-height: 600px;
    overflow-y: auto;
    background-color: #ECE5E6;
}

.navbarLogoWrapper {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    /* margin-left: -10px; */ /* Descomenta y ajusta si es necesario para el centrado fino */
}

.navbarLogoWrapper img {
    max-width: 150px;
    margin: 0 auto;
}

.navbarButton {
    border: none !important;
    padding: 0;
    line-height: 1;
    color: #222023 !important;
    background-color: transparent !important;
    font-size: 1rem;
}

.navbarButton:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbarButton .bi-list {
    color: #222023 !important;
}

.searchBoxMobileWrapper {
    padding-bottom: 1rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.searchBoxDesktop {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 240px; /* Aumentado el ancho máximo */
    min-width: 180px; /* Aumentado el ancho mínimo */
    margin-right: 0.5rem; /* Ajustado el margen a la derecha */
}

.searchInput {
    width: 100%;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #222023 !important;
    border-radius: 0 !important;
    color: #222023 !important;
    padding: 0.5rem 0.1rem !important;
    box-shadow: none !important;
    flex-grow: 1;
    font-size: 0.85rem; /* Aumentado ligeramente el tamaño de la fuente */
}

.searchInput::placeholder {
    color: #222023 !important;
    font-size: 0.85rem;
    text-align: center;
}

.searchInput:focus {
    border-bottom-color: #a1a188 !important;
}

.searchIconContainer {
    background-color: transparent;
    border: none;
    color: #222023;
    cursor: pointer;
    padding: 0 0.5rem; /* Reducido el padding para acercar el ícono */
    border-bottom: 0px solid #222023 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.searchIconContainer .bi-search {
    color: #222023 !important;
    font-size: 1.3rem !important;
}

.navbarNav {
    margin-left: 0.1rem;
    padding-left: 0px !important;
    font-size: 1rem;
    display: flex;
    gap: 0.1rem;
}


.navbarNav .navLink {
    color: #222023 !important;
    padding: 0.4rem 0.5rem !important;
    font-weight: 300;
    font-size: 0.7rem;
    margin: 0 !important;
    border: none !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.navbarNav .navLink:hover {
    color: #a1a188 !important;
    text-decoration: none !important;
}

.navbarNav .navLink:focus,
.navbarNav .navLink.active {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdownCategorias {
    margin-left: 0.1rem;
}

.dropdownCategorias .dropdown-menu .navLink {
    text-decoration: none !important;
    color: #222023 !important;
}

.dropdownCategorias .dropdown-menu .navLink:hover,
.dropdownCategorias .dropdown-menu .navLink:focus,
.dropdownCategorias .dropdown-menu .navLink.active {
    background-color: #f0f0f0 !important;
    color: #a1a188 !important;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.offcanvas-body .nav-link {
    text-decoration: none !important;
    color: #222023 !important;
}

.offcanvas-body .nav-link:hover,
.offcanvas-body .nav-link:focus,
.offcanvas-body .nav-link.active {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.themeToggleButton {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.themeToggleButton:hover,
.themeToggleButton:active,
.themeToggleButton:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.d-flex.align-items-center>*:not(:last-child) {
    margin-right: 1rem;
}

.navbar-collapse {
    background-color: #222023 !important;
    width: 100%;
}

.navbar-collapse .navbar-nav {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.navbar-collapse .nav-link {
    color: white !important;
    padding: 0.75rem 1rem !important;
}

.navbar-collapse .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.topRow {
    margin-top: 0;
    padding-top: 2rem !important;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 8rem;
}

.bottomRow {
    height: 30px;
    padding: 0 12px;
}

.scrolledNavbar {
    background-color: #b0c9c9a8;
}

.offcanvas-body {
    background-color: #ECE5E6;
}

@media (max-width: 375px) {
    .navbarLogoWrapper img {
        max-width: 100px;
    }
}
